.grade {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 10px;

    width: 80px;
    height: 45px;

    border-radius: 25px;

    span {
        font-size: 44px;
        font-weight: 700;

        letter-spacing: -0.2em;
        transform: translateX(-0.1em);

        padding-bottom: 5px;

        &.SSH { color: $silver }
        &.SS { color: $gold }
        &.SH { color: $silver }
        &.S { color: $gold }
        &.A, &.B, &.C, &.D { color: #000000 }
    }

    &.SSH { background: #DE31AE }
    &.SS { background: #DE31AE }
    &.SH { background: #02B5C3 }
    &.S { background: #02B5C3 }
    &.A { background: #88DA20 }
    &.B { background: #3E89F9 }
    &.C { background: #8C60E9 }
    &.D { background: #EB6870 }
}