.mod {
    border-radius: 7px;

    padding: 4px 12px;

    font-size: 22px;
    color: black;

    &.DT {
        background: #8850E4;
        box-shadow: 0 4px 0 0 #7534E0;
    }
    &.FL {
        color: white;
        background: #212121;
        box-shadow: 0 4px 0 0 #333333;
    }
}