@import "../../styles/base.scss";
@import "../../styles/colors.scss";
@import "../../styles/grade.scss";
@import "../../styles/mods.scss";

.card {
    width: 1200px;
    background: $bg;
    padding: 20px;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
        z-index: 2;
    }

    .background {
        z-index: 1 !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-position: center center;
        background-size: cover;

        filter: blur(10px);

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($bg, 0.7);
        }

        z-index: -1;
    }

    .player {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 15px 30px;

        width: calc(100% - 30px);

        .info {
            display: flex;
            flex-direction: row;

            .left {
                width: 90px;
                height: 90px;
                border-radius: 10px;

                margin-right: 18px;

                background-size: cover;
                background-position: center center;
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                height: 90px;
                padding: 2px 0;

                .flag {
                    width: 50px;
                    height: 30px;
                    border-radius: 5px;

                    background-position: center center;
                    background-size: cover;

                    box-shadow: 0 0 20px 1px #0009;
                }

                .nickname {
                    font-size: 40px;
                    font-weight: 600;

                    text-shadow: 0px 4px 8px #0004;
                }
            }
        }

        .mode {
            font-size: 90px;
        }
    }

    .item {
        position: relative;
        width: 1140px;
        height: 90px;
        margin: 15px 0;
        margin: 30px 0;

        &:first-child {
            margin-top: 5px;
        }

        .body {
            position: relative;

            width: 100%;
            height: 100%;
            border-radius: 16px;

            background: $bg;
            overflow: hidden;
            
            display: flex;
            flex-direction: row;

            align-items: center;

            & > * {
                z-index: 2;
            }

            .background {
                position: absolute;
                width: 100%;
                height: 100%;
                background-position: center center;
                background-size: cover;
                box-shadow: inset 0px 4px 0px 282px rgba(0, 0, 0, 0.45);

                filter: blur(2px);
            }

            .info {
                display: flex;
                flex-direction: column;

                &__title, &__dif {
                    font-family: Torus;
                    font-style: normal;
                    font-weight: normal;
                }

                &__title {
                    font-size: 28px;
                    color: #FFFFFF;
                    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.85);
                }

                &__dif {
                    font-size: 20px;
                    line-height: 28px;
                    color: #EEAA00;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.85);
                }
            }

            .pp {
                position: absolute;
                right: 0;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 15px;
                background-color: #394246;
                font-size: 36px;
                font-weight: 600;
                padding-right: 30px;
                color: $link;

                &::before {
                    position: absolute;
                    left: -50px;
                    content: "";
                    width: 0;
                    height: 0;
                    border-bottom: 90px solid #394246; 
                    border-left: 50px solid transparent;
                }

                .value {
                    color: white;
                }
            }
        }
    }

    .weight {
        right: 130px;
        position: absolute;
        padding: 3px 12px;
        color: $link;
        background: #394246;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.45);
        border-radius: 6px;
        transform: rotate(-5deg);
        bottom: -15px;
        font-size: 18px;
        z-index: 3;
    }
}