@font-face {
    font-family: "Torus";
    src: url('../assets/fonts/Torus-Thin.otf');
    font-weight: 100;
}
@font-face {
    font-family: "Torus";
    src: url('../assets/fonts/Torus-Light.otf');
    font-weight: 200;
}
@font-face {
    font-family: "Torus";
    src: url('../assets/fonts/Torus-Regular.otf');
    font-weight: 300;
}
@font-face {
    font-family: "Torus";
    src: url('../assets/fonts/Torus-SemiBold.otf');
    font-weight: 500;
}
@font-face {
    font-family: "Torus";
    src: url('../assets/fonts/Torus-Bold.otf');
    font-weight: 600;
}
@font-face {
    font-family: "Torus";
    src: url('../assets/fonts/Torus-Heavy.otf');
    font-weight: 700;
}