$color1: #22282a;
$color2: #394246;
$color3: #02869e;
$color4: #fff;
$color5: #898888;

$grade-XH: #C9C2B7;
$grade-X: #ffae02;
$grade-SH: #C9C2B7;
$grade-S: #ffae02;
$grade-A: #00DE62;
$grade-B: #00B6F4;
$grade-C: #F13E9F;
$grade-F: #FF1A00;
